@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"); /* Joesefin Sans */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap"); /*Handlee*/
@import url("https://fonts.googleapis.com/css2?family=Farsan&family=Handlee&display=swap"); /* Farsan, sans serif */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --light-background: #f5f9e9;
  --medium-background: #a55d40;
  --primary-text: #e4b6a0;
  --secondary-text: #f6eddf;
  --dark-text: #192331;
  --accent: #beb0a7;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;
  --shadow: #192331 0px 0px 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Josefin Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
