.navbar {
  height: 12vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  z-index: 1000;
  font-weight: 450;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  position: fixed;
  padding-top: 5px;
  margin: none;
}

.logo-name {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  align-self: flex-end;
  margin: 0;
  padding-bottom: 0.8rem;
  font-size: 35px;
  font-family: "Satisfy", cursive;
  margin-top: 20px;
}

/* .navbar.active {
  background-color: var(--light-background);
  box-shadow: var(--shadow);
  position: fixed;
} */

.navbar-home-logo {
  height: 100%;
  width: 5vw;
}

.unordered-list-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 100%;
  margin: 0;
}

.link-propety {
  color: var(--secondary-text);
  font-size: 17px;
  text-decoration: none;
  list-style-type: none;
  font-family: "Josefin Sans";
  align-items: center;
  margin: 0;
  border-right: 2px solid var(--light-background);
  padding-right: 35px;
  border-color: var(--primary-text);
}

.link-propety-specific {
  color: var(--secondary-text);
  font-size: 17px;
  text-decoration: none;
  list-style-type: none;
  font-family: "Josefin Sans";
  align-items: center;
  margin: 0;
  position: relative;
  display: inline-block;
}

.link-propety-specific:hover,
.link-propety:hover {
  cursor: pointer;
  font-size: larger;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dark-text);
  min-width: 100%;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--light-background);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {
  background-color: var(--dark-text);
  color: var(--light-background);
  border: none;
}
.link-propety-specific:hover .dropdown-content {
  display: block;
}
.link-propety-specific:hover .profile {
  background-color: var(--light-background);
  color: var(--dark-text);
}

.logout-button {
  width: 100%;
  height: 100%;
}

.became-a-host-button {
  background-color: #4a485b;
  color: var(--secondary-text);
  border-radius: 20px;
  font-size: 15px;
  width: 180px;
  height: 30px;
  font-weight: 450;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 5px;
}

.became-a-host-button:hover {
  cursor: pointer;
  box-shadow: #192331 0px 0px 10px;
  color: var(--secondary-text);
}

.login-register-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  height: 100%;
  width: 250px;
  margin-top: 20px;
}

.login {
  margin-top: 10px;
}

.open-sidebar-button,
.close-sidebar-button,
.login-md-display,
.profile-md-display,
.became-a-host-button-md {
  display: none;
}

#sidebar-check {
  display: none;
}

.logo-name-mb {
  display: flex;
}

.logout-button-md {
  display: none;
}

.profile {
  text-align: center;
  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #4a485b;
  padding: 3px 15px;
  border-radius: 30px;
  border: none;
  color: var(--light-background);
}

.profile-icon {
  margin-right: 10px;
  background-color: var(--dark-text);
  border-radius: 15px;
  color: var(--light-background);
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 30px;
  }

  .navbar-home-logo {
    height: 10vh;
    width: 10vw;
  }

  .unordered-list-navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 10;
    width: 60%;
    background-color: var(--dark-text);
    height: 100vh;
    top: 0;
    right: -100%;
    position: fixed;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-out;
  }

  .login-md-display,
  .became-a-host-button-md {
    display: block;
  }

  .profile-md-display {
    display: flex;

  }

  .close-sidebar-button {
    display: block;
    color: var(--primary-text);
    margin: 20px 0px;
  }

  .open-sidebar-button {
    display: block;
  }

  .login-register-ul {
    display: none;
  }

  .link-propety {
    border-right: none;
    padding-right: 0px;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 10px;
    justify-content: flex-start;
    color: var(--primary-text);
  }

  .link-propety-specific {
    border-right: none;
    padding-right: 0px;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 10px;
    justify-content: flex-start;
    color: var(--primary-text);
  }

  #sidebar-check:checked ~ .unordered-list-navbar {
    right: 0;
  }

  .logo-name-mb {
    display: none;
  }

  .logout-button-md {
    background-color: #4a485b;
    color: var(--secondary-text);
    border-radius: 20px;
    font-size: 15px;
    width: 180px;
    height: 30px;
    font-weight: 450;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 5px;
  }
}

@media screen and (max-width: 500px) {
  .navbar-home-logo {
    height: 10vh;
    width: 15vw;
    padding-top: 10px;
  }

  .unordered-list-navbar {
    width: 70%;
  }

  .logo-name-mb {
    display: none;
  }
}
